
.ok-button {

    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-color: #711c36;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-min-width: 100px;
    -fx-min-height: 35px;
    -fx-font-family: "Segoe UI";
}

.cancel-button {

    -fx-background-color: #282836;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-min-width: 100px;
    -fx-min-height: 35px;
    -fx-font-family: "Segoe UI";
}

.confirmation-label{
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #ffffff;
}

.confirmation-title-label{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: #ffffff;
}