
.login-label{
    -fx-text-fill: #ffffff;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI";
}

.username-textfield{
    -fx-background-color: #2b2c4b;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-prompt-text-fill: #716996;
    -fx-max-width: 300px;
    -fx-max-height: 45px;
    -fx-background-radius: 4 4 0 0;
}

.password-textfield{
    -fx-background-color: #2b2c4b;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-prompt-text-fill: #716996;
    -fx-max-width: 300px;
    -fx-max-height: 45px;
    -fx-background-radius: 0 0 4 4;
}

.login-button{
    -fx-background-color: #56448e;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-max-width: 170px;
}

.login-button:pressed {
    -fx-background-color: #46337a;
    -fx-scale-x: 0.99;
    -fx-scale-y: 0.99;
}

.forgot-password-hyperlink {
    -fx-font-family: Arial;
    -fx-underline: false;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: #0096c9;
    -fx-visited-color: #0096c9;

}

.remember-me-checkbox{
    -fx-text-fill: #8d8aab;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
    -fx-background-color: transparent;
    -fx-padding: 1;
}

.remember-me-checkbox .box{
    -fx-border-color: #8d8aab;
    -fx-background-color: transparent;
    -fx-background-radius: 4, 4, 4, 4;
    -fx-padding: 0.1px;
}

.invalid-login-label{
    -fx-text-fill: #b44040;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
}

.stack-pane{
    /*-fx-background-color: #222224;*/
    -fx-background-color: #19191d;
    -fx-background-size: stretch;
    -fx-background-position: top left;
}
.split-pane *.split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-mouse-transparent: true;

}
.vbox{
    /*-fx-background-color: #222038;*/
    -fx-background-color: #1f1f27;
    -fx-background-size: stretch;
    -fx-background-position: top left;
}

#close-button{
    -fx-background-color: transparent;
}

#minimize-button{
    -fx-background-color: transparent;
}


.svg{
    -fx-fill: #afaeb4;
}


#close-button:hover .svg{
    -fx-fill: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,1), 0, 0, 0, 0);

}

#minimize-button:hover .svg{
    -fx-fill: #ffffff;
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,1), 0, 0, 0, 0);
}

